<!DOCTYPE html>

<!-- Ejemplo usado en el flisol2018 en Loja / autor @reroes -->
<html>
<head>
  <title>Demo2</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
 
 
  <h2>Consulta de Instituciones Educativas de Ecuador</h2>
  <form  action="" method="post" role="form">
    {{ form.csrf }}
    <div class="form-group">
      <label for="primero">Ingres nombre o inicial del cantón:</label>
      <input type="text" class="form-control" id="primero" name="primero" placeholder="Nombres...">
      <br>
    </div>
    <button type="submit" class="btn btn-success">Consultar</button>
  </form>

  <br>
  <hr/>
  <h2>Listado de coincidencias</h2>
  {% if data %}
  
  <h4>Número de coincidencias {{numero}}</h4>
  <div>
      <table class="table"> 
        <tr>
          <th>Provincia</th>
          <th>Cantón</th>
          <th>Parroquia</th>
          <th>Masculino</th>
          <th>Femenino</th>
        </tr>

        {% for d in data %}
        <tr>
          <td>{{d['Provincia'].decode('utf-8')}}</td>
          <td>{{d['Canton'].decode('utf-8')}}</td>
          <td>{{d['Parroquia'].decode('utf-8')}}</td>
          <td>{{d['Masculino']}}</td>
          <td>{{d['Femenino']}}</td>
        </tr>

        {% endfor %}
      </table> 
  </div>
  {% endif %}
  <div>
    <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
 
        {% for message in messages %}
            {% if "Error" not in message[1]: %}
                <div class="alert alert-info">
                <strong>Success! </strong> {{ message[1] }}
                </div>
            {% endif %}
 
            {% if "Error" in message[1]: %}
                <div class="alert alert-warning">
                {{ message[1] }}
                </div>
            {% endif %}
        {% endfor %}
            {% endif %}
        {% endwith %}
  </div>
</div>
</body>
</html>
